<div class="dialog-container">
  <mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>

  <h1 mat-dialog-title>Edit Address</h1>

  <div>
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>street + house number</mat-label>
      <input [disabled]="isLoading" [(ngModel)]="user.street" matInput placeholder="street + house number">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="outline" class="margin-right-16">
      <mat-label>zip-code</mat-label>
      <input [disabled]="isLoading" [(ngModel)]="user.zip" matInput placeholder="zip-code">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>city</mat-label>
      <input [disabled]="isLoading" [(ngModel)]="user.city" matInput placeholder="city">
    </mat-form-field>
  </div>


  <div mat-dialog-actions>
    <button [disabled]="isLoading" mat-button (click)="dialogRef.close()">Cancel</button>
    <button [disabled]="isLoading" mat-button (click)="saveUser()" cdkFocusInitial>Save</button>
  </div>

</div>
